@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

nav{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 28, 72);
    padding: .50rem 2rem;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;

}
.navbar-brand{
    display: flex;
}
.metalogo{
    width: 3rem;
    height: 3rem;
}
.navbar-brand h1{
    font-style: normal;
    font-weight: 600;
    font-size: 2.1rem;
    line-height: 2.4rem;
    display: flex;
    font-family: "Exo 2", sans-serif;
    margin-left: 20px;
}
ul{
    list-style: none;
    display: flex;
}
.navbar-link{
    margin: 1px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}
.navbar-link:hover{
    color: #1679AB;
}
.menu-icon{
    display: none;
}


@media (max-width: 1000px){
    nav{
        padding: 15px 15px;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgb(0, 28, 72);
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        display: block;
        transition: 0.5s;
    }
    nav ul li{
        margin: 25px 10px;
    }
    .menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hide-mobile-menu{
        right: -200px;
    }
}